<form method="post" action="{{ path('org_ext_delete', {'id': org_ext.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ org_ext.id) }}">
    <button class="btn">Delete</button>
</form>
