{% extends 'base.html.twig' %}

{% block title %}Edit OrgExt{% endblock %}

{% block body %}
    <h1>Edit OrgExt</h1>

    {{ include('org_ext/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('org_ext_index') }}">back to list</a>

    {{ include('org_ext/_delete_form.html.twig') }}
{% endblock %}
