{% extends 'base.html.twig' %}

{% block title %}OrgExt index{% endblock %}

{% block body %}
    <h1>OrgExt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for org_ext in org_exts %}
            <tr>
                <td>{{ org_ext.id }}</td>
                <td>{{ org_ext.nom }}</td>
                <td>{{ org_ext.adresse }}</td>
                <td>{{ org_ext.telephone }}</td>
                <td>
                    <a href="{{ path('org_ext_show', {'id': org_ext.id}) }}">show</a>
                    <a href="{{ path('org_ext_edit', {'id': org_ext.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('org_ext_new') }}">Create new</a>
{% endblock %}
