{% extends 'base.html.twig' %}

{% block title %}New OrgExt{% endblock %}

{% block body %}
    <h1>Create new OrgExt</h1>

    {{ include('org_ext/_form.html.twig') }}

    <a href="{{ path('org_ext_index') }}">back to list</a>
{% endblock %}
