{% extends 'base.html.twig' %}

{% block title %}OrgExt{% endblock %}

{% block body %}
    <h1>OrgExt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ org_ext.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ org_ext.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ org_ext.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ org_ext.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('org_ext_index') }}">back to list</a>

    <a href="{{ path('org_ext_edit', {'id': org_ext.id}) }}">edit</a>

    {{ include('org_ext/_delete_form.html.twig') }}
{% endblock %}
