<form method="post" action="{{ path('libraire_delete', {'id': libraire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ libraire.id) }}">
    <button class="btn">Delete</button>
</form>
