{% extends 'base.html.twig' %}

{% block title %}Edit Libraire{% endblock %}

{% block body %}
    <h1>Edit Libraire</h1>

    {{ include('libraire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('libraire_index') }}">back to list</a>

    {{ include('libraire/_delete_form.html.twig') }}
{% endblock %}
