{% extends 'base.html.twig' %}

{% block title %}Libraire index{% endblock %}

{% block body %}
    <h1>Libraire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for libraire in libraires %}
            <tr>
                <td>{{ libraire.id }}</td>
                <td>{{ libraire.nom }}</td>
                <td>{{ libraire.prenom }}</td>
                <td>{{ libraire.email }}</td>
                <td>{{ libraire.telephone }}</td>
                <td>
                    <a href="{{ path('libraire_show', {'id': libraire.id}) }}">show</a>
                    <a href="{{ path('libraire_edit', {'id': libraire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('libraire_new') }}">Create new</a>
{% endblock %}
