{% extends 'base.html.twig' %}

{% block title %}New Libraire{% endblock %}

{% block body %}
    <h1>Create new Libraire</h1>

    {{ include('libraire/_form.html.twig') }}

    <a href="{{ path('libraire_index') }}">back to list</a>
{% endblock %}
