{% extends 'base.html.twig' %}

{% block title %}Libraire{% endblock %}

{% block body %}
    <h1>Libraire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ libraire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ libraire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ libraire.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ libraire.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ libraire.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('libraire_index') }}">back to list</a>

    <a href="{{ path('libraire_edit', {'id': libraire.id}) }}">edit</a>

    {{ include('libraire/_delete_form.html.twig') }}
{% endblock %}
