<form method="post" action="{{ path('presse_delete', {'id': presse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presse.id) }}">
    <button class="btn">Delete</button>
</form>
