{% extends 'base.html.twig' %}

{% block title %}Edit Presse{% endblock %}

{% block body %}
    <h1>Edit Presse</h1>

    {{ include('presse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('presse_index') }}">back to list</a>

    {{ include('presse/_delete_form.html.twig') }}
{% endblock %}
