{% extends 'base.html.twig' %}

{% block title %}Presse index{% endblock %}

{% block body %}
    <h1>Presse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presse in presses %}
            <tr>
                <td>{{ presse.id }}</td>
                <td>{{ presse.nom }}</td>
                <td>{{ presse.email }}</td>
                <td>
                    <a href="{{ path('presse_show', {'id': presse.id}) }}">show</a>
                    <a href="{{ path('presse_edit', {'id': presse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('presse_new') }}">Create new</a>
{% endblock %}
