{% extends 'base.html.twig' %}

{% block title %}New Presse{% endblock %}

{% block body %}
    <h1>Create new Presse</h1>

    {{ include('presse/_form.html.twig') }}

    <a href="{{ path('presse_index') }}">back to list</a>
{% endblock %}
