{% extends 'base.html.twig' %}

{% block title %}Presse{% endblock %}

{% block body %}
    <h1>Presse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presse.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ presse.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ presse.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('presse_index') }}">back to list</a>

    <a href="{{ path('presse_edit', {'id': presse.id}) }}">edit</a>

    {{ include('presse/_delete_form.html.twig') }}
{% endblock %}
