{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livre.nom }}</td>
            </tr>
            <tr>
                <th>DatePub</th>
                <td>{{ livre.datePub }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livre.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livres_index') }}">back to list</a>

    <a href="{{ path('livres_edit', {'id': livre.id}) }}">edit</a>

    {{ include('livres/_delete_form.html.twig') }}
{% endblock %}
